.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: #333;
  color: #fff;
}
.navbar-brand{
  font-size: 2.25em;
}
.btn-outline-success{
  color: white;
  background-color: red !important;
  border: none;
}
.bg-light {
  background-color: #333333 !important;
}
.content{
  position: absolute;
  top:80%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.menu-title{
  color: #fff;
  margin-top: 40px;
}
.book{
  color: #fff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}
.all{
   margin-left: 150px;
   margin-right: 150px;
}
.sendmess{
  margin-top: 30px;
  background-color: #FFC106;
  color: #fff;
  width: 170px;
  border-radius: 5px;
  height: 40px;
}
.btbuy{
  background-color: #333333;
  color: #fff;
  padding: 5px 105px;
  border-radius: 5px;
}
.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff; 
}
.card{
  position: relative;
}
.sale{
  position: absolute;
  color:  #333;
  padding: 2px 30px;
  background-color: yellow;
  font-weight: 700;
}
.new-price{
  color: #FFC106;
  font-weight: 700;
}
.form-control {
  line-height: 2.5;
}
.item-btn{
  background-color : #0069D9 !important;
  border: none;
}
.card{
  margin: 15px;
}
.cart-item-card{
  border: none;
}
.btn-plus{
  background-color: #0069D9;
}
.cart-item {
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333 ;
  gap: 1rem;
}

.cart-item-card {
  padding: 0;
  border: 0;
  margin-left: 1.5rem;
}

.cart-item-card img {
  width: 50px;
  
}

.cart-item-detail {
  display: flex;
  align-items: center;
}

.cart-item-addition {
  margin-bottom: 1rem;
  display: flex;
  height: 100%;
  gap: 20%;
}

.cart-item-addition button {
 border-radius: 8px;
 width: 50%;
 padding: 2% 2%;
 font-size: 15px;
 font-weight: 700;
}

.cart-items-quantity {
  margin-bottom: 1rem;
  text-align: center;
}
.close-btn{
  background-color: #090202 !important;
}